@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  color: white;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 40px;
}

.logo-text h1 {
  font-size: 25px;
  margin-left: 20px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
}

.icon-text p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.list-items-bottom {
  margin-top: 50px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.navbar .icon {
  fill: black;
}

/*Main Screen*/

.main {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.my-image {
  width: 50px;
  border-radius: 50px;
}

.navbar {
}

.welcome {
}

.content {
  background-color: #e2e8f0;
}
